<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="section">
    <h3>{{headingTitle}}</h3>

    <div data-ng-controller="usersController" data-ng-init="getMyTickets();">
        <table class="table">
            <tr class="tr" data-ng-show="true">
                <th>Offer Id</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Price</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Cancel</th>
            </tr>
            <tbody data-ng-repeat="userTicket in myTickets">
            <tr>
                <td>{{userTicket.offerId}}</td>
                <td>{{userTicket.origin}}</td>
                <td>{{userTicket.destination}}</td>
                <td>{{userTicket.price}} {{userTicket.currency}}</td>
                <td>{{userTicket.status}}</td>
                <td>
                    <button class="btn btn-primary" data-ng-click="edit($index);">Edit</button>
                </td>
                <td>
                    <button class="btn btn-primary" data-ng-click="cancel($index);">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>