<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="section">
    <h3>Ticket</h3>

    <div>
        <label>Ticket Number : {{userTicket.id}}</label>
        <br>
        <label>Origin : {{userTicket.origin}}</label>
        <br>
        <label>Destination : {{userTicket.destination}}</label>
        <br>
        <label>Price : {{userTicket.price}} {{userTicket.currency}}</label>
        <br>
        <label>Destination : {{userTicket.destination}}</label>
        <br>
        <label>Amount : {{userTicket.ticketsAmount}}</label>
        <br>
        <label>Status : {{userTicket.status}}</label>
        <br>
        <br>
        <button class="btn btn-primary">Print</button> <button class="btn btn-primary">Email</button>
    </div>
</div>

</body>
</html>